<!DOCTYPE html>
<html>
<head>
    <title>Automatic Music Genre Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
        <h1>🎵 Automatic Music Genre Classification</h1>
        <p>This system predicts the genre of uploaded audio files using Deep Learning.</p>
        <br>
        <a href="{{ url_for('welcome') }}">
            <button>Start Evaluation</button>
        </a>
    </div>
</div>

</body>
</html>