<!DOCTYPE html>
<html>
<head>
    <title>Upload Audio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Upload an Audio File</h2>

        <form method="POST" action="{{ url_for('predict') }}" enctype="multipart/form-data">
            <input type="file" name="file" accept="audio/*" required>
            <br>
            <button type="submit">Predict Genre</button>
        </form>

        <p class="footer-text">Supported format: .wav, .mp3</p>
    </div>
</div>

</body>
</html>